@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}


/*  cores que forma utilziadas no projeto
    A ordem está do mais claro até o mais escuro de cima para baixo:
    #c5ebd6
    #83e1ad
    #3ddc84
    #2fa866
    #1a5c37
    #063d1e
*/

:root{
    --cor1: #c5ebd6;
    --cor2: #83e1ad; 
    --cor3: #3ddc84; 
    --cor4: #2fa866;
    --cor5: #1a5c37;
    --cor6: #063d1e;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', serif;
    --font-android: 'Android', serif;
}

*{
    margin: 0px;
    padding: 0px;
}

.externo::after{
    content: '\00A0\1F517';
/*emoji de clipe após o link*/
}

body{
    background-color: var(--cor1);
    font-family: var(--font-padrao);
}
/*Do "root" até o "*" foram apenas as configurações globais, nada de muito grande*/

header{
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor5), var(--cor6));
    min-height: 100px;
    text-align: center;
    padding-top: 30px;

/*No Projeto do Guanabara, ele estava colocando "margin-bottom" no "header > p" para criar uma espaço entre o header e o nav, só que, no meu projeto estava criando uma espaço com uma linha branca entre os dois, a solução que eu achei foi colocar o "padding-bottom" no "header" para ter esse espaço entre eles*/
    padding-bottom: 30px;
}

header > h1{
    color: white;
    font-family: var(--font-destaque);
    margin-bottom: 15px;
    font-size: 3em;
    font-weight: normal;
    text-shadow: 3px 2px 0px rgba(0, 0, 0, 0.568);
}

header > p{
    color: white;
    font-family: var(--font-padrao);
    font-size: 1.2em;
    max-width: 600px;
    margin: auto; 
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.568);
}

nav{
    background-color: var(--cor6);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.26);
}

nav > a{
    text-decoration: none;
    color: var(--cor2);
    padding: 10px;
    font-weight: bold;
    border-radius: 5.5px;
    transition-duration: 0.5s;
/*Aqui foi a configuração para a barra de navegação*/
}

nav > a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
    border-radius: 5.5px;
    box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.589);
/*Aqui foi so uma decoração após o usuario interagir com a barra de navegação*/
}

main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 25px;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.253);
/*Aqui é a configuração do conteudo principal do site*/
}

main p{
    margin: 15px 0px;
    text-indent: 15px;
    text-align: justify;
    font-size: 1em;
    line-height: 1.5em;
}

main strong{
    color: var(--cor4);
    font-weight: bold;
}

main a{
    background-color: var(--cor2);
    padding: 1px 4.5px;
    border-radius: 1px;
    color: var(--cor6);
    text-decoration: none;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor5);
}

main h1{
    font-family: var(--font-android);
    color: var(--cor5);
    font-weight: normal;
}

main h2{
    font-family: var(--font-android);
    font-weight: normal;
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor2), transparent);
}

main img{
    width: 100%;
    border-radius: 10px;
    display: block;
/*Aqui é a configuração tanto para a img da irina quanto dos 4 robos*/
}

#pequena{
    max-width: 350px;
    margin: auto;
    display: block;
/*Aqui é a configuração da foto do robozinho de mão dada com o boneco*/
}

#video{
    background-color: var(--cor6);
    margin: 0px -20px 20px -20px;
    padding: 20px;

/*Sobre o video, daqui até lá em baixo é só gambiarra para fazer a responsividade do video no site*/
    padding-bottom: 55.5%;
    position: relative;
}

#video > iframe {
    position: absolute;
    top: 0%;
    left: 1%;
    width: 98%;
    height: 100%;
/*Aqui acabou a gambiarra para fazer o video ficar centralizado no site*/
}

/*Como eu acabei colocando a parte extra dentro do "main" eu decidir criar uma "id" especifica para o "aside" e assim configula-lo sem tem quer alterar todo o códido do main, article entre outros que seriam necessários para rodar.*/
#extra{
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.37); 
}

#extra > h1 {
    font-family: var(--font-padrao);
    font-size: 1.5em;
    background-color: var(--cor5);
    color: rgb(252, 252, 252);
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

#extra ul{
    list-style-position: inside;
    columns: 2;
    list-style-type: '\1FAA7\00A0';
}

footer{
    background-color: var(--cor6);
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#nomecriador{
    font-weight: bold;
    color: lightblue;  
}

footer a{
    text-decoration: none;
    color: #c5ebd6;
    font-weight: bold;
}

footer a:hover{
    text-decoration: underline;
    background-color: #2fa866;
    padding: 1px;
    transition-duration: 0.5s;
/*Uma decoração após o usuario interagir com o link canal do youtube*/
}